body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
}

ul {
  list-style: none;
  margin: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.logo img {
  max-width: 50px;
  height: 60px;
  padding-left: 10px;
  padding-right: 10px;
}

.logo {
  display: flex;
}


.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.header-contact {

  display: flex;
  /* Выравниваем по центру */
  flex-direction: column;
  margin-top: 10px;
  /* Отступ сверху */
  text-align: left;
}

.header-contact ul li {
  padding-bottom: 10px;
  display: flex;
}

.header-contact a {
  margin: 0 10px;
  /* Отступ между ссылками */
  color: #fff;
  /* Цвет текста */
  text-decoration: none;
  /* Убираем подчеркивание */
}

.icon-contact img {
  max-width: 30px;
  height: 30px;
}

.header-contact i {
  margin-right: 5px;
  /* Отступ между иконкой и текстом */
}


.heroo {
  display: flex;
  align-items: center;
  padding: 40px 0;
  background-color: #dacfcf;

  background-image: url('./assets/img/задний фон.jpg'), url('./assets/img/104894 (1).png');
  /* Пути к изображениям */
  background-size: cover, cover;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  width: auto;
  height: 350px;
  background-blend-mode: multiply;
  /* Режим наложения */
}

.hero-text {
  flex: 1;
  padding-right: 30px;
}

.hero-text h2 {
  color: #fff
}

.hero-text p {
  color: #fff
}

.hero-image {
  flex: 1;
}

.hero-image img {
  width: 100%;
  height: auto;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

.menu {
  padding: 40px 0;
  background-color: #e7dfd6;
  /* Светло-коричневый фон */
}

.coffee-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.coffee-item {
  width: 350px;
  margin-bottom: 20px;
  padding: 15px;
  border: 2px solid #f3c3c3;
  border-radius: 5px;
  text-align: center;
}

.coffee-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.coffee-item h3 {
  margin-top: 0;
}

.price {
  font-weight: bold;
  color: #333;
}

.about {
  padding: 40px 0;
  background-color: #fff;
  background-image: url("");
  /* Пути к изображениям */
  background-size: cover, cover;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  width: auto;
  height: 350px;
}

.social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social li {
  margin: 0 10px;
}

.social a {
  color: #333;
  text-decoration: none;
}

.social i {
  font-size: 1.5em;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.exclusive-coffee {
  padding: 40px 0;
  background-color: #f0e6dc;
}


.beans {
  padding: 40px 0;
  background-color: #fff;
}

.bean-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.bean-item {
  width: 300px;
  /* Две карточки в строке */
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  flex-direction: column;
}

.bean-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.rating-panel {
  display: flex;
  align-items: center;
  padding-left: 98px;
  padding-bottom: 20px;
}

.star {
  font-size: 24px;
  color: #ddd;
  /* Серый цвет для неактивных звезд */
  cursor: pointer;
  transition: color 0.3s ease;
  /* Плавно меняем цвет при наведении */
}

.star:hover,
.star.active {
  color: #ffc107;
  /* Желтый цвет для активных звезд */
}

.rating-value {
  margin-left: 10px;
  font-size: 16px;
}




/* slider................................. */




.slider-container {
 
  /* Для позиционирования счетчика и кнопок */
  display: flex;
}


.slide {
  width: 900px;
  max-height: 300px;
  margin-right: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: left;
  padding: 15px;
  display: flex;

}

.slide-img img{
  max-width: 500px;
  height: 300px;
  margin-bottom: 10px;
  padding-right: 30px;
}

.slider {
  display: flex;
}

.text-slid p {
  text-align: left;
  padding-bottom: 20px;
}

.text-slid h3 {
  text-align: center;
}

.slider-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  display: flex;
  align-items: center;
}

.offer__slider-counter{
  display: flex;
  width: 200px;
  height: 50px;
  align-items: center;
}
 
.offer__slider-prev img{
  width: 50px;
  height: 50px;
}

.offer__slider-next  img{
  width: 50px;
  height: 50px;
}

.current{
  display: flex;
  justify-content: center;
}

.slider-counter {
  font-size: 1.5em;
  margin-right: 10px;
}

.prev,
.next {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.prev {
  margin-right: 10px;
}

.order-button {
  background-color: #333;
  /* Цвет фона кнопки */
  color: #fff;
  /* Цвет текста */
  padding: 10px 20px;
  /* Отступы от текста */
  border: none;
  /* Убираем рамку */
  border-radius: 5px;
  /* Скругленные углы */
  font-size: 16px;
  /* Размер шрифта */
  font-weight: bold;
  /* Жирный шрифт */
  cursor: pointer;
  /* Изменяем курсор на указатель */
  transition: background-color 0.3s ease;
  /* Плавно меняем цвет при наведении */
}

.order-button:hover {
  background-color: #555;
  /* Цвет фона при наведении */
}


/* modal */

.text-center {
  text-align: center;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}


.form {
  background-color: #fff;
  display: block;
  padding: 1rem;
  max-width: 350px;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
}

.form-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.input-container {
  position: relative;
}

.input-container input,
.form button {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
}

.input-container input {
  background-color: #fff;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 300px;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.submit {
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #dacfcf;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 100%;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

.signup-link {
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}

.signup-link a {
  text-decoration: underline;
}